@import 'custom.scss';
@import '_globals.scss';


$light-colors: (
  Very Light Gray: hsl(0, 0%, 98%),
  Very Light Grayish Blue: hsl(236, 33%, 92%),
  Light Grayish Blue: hsl(233, 11%, 84%),
  Dark Grayish Blue: hsl(236, 9%, 61%),
  Very Dark Grayish Blue: hsl(235, 19%, 35%)
);
$fallback-colors-light: (
  Gray99, Gray87 , Gray82, Gray44, SteelBlue4 
);
$dark-colors:(
  Very Dark Blue: hsl(235, 21%, 11%),
  Very Dark Desaturated Blue: hsl(235, 24%, 19%),
  Light Grayish Blue1: hsl(234, 39%, 85%),
  Light Grayish Blue2: hsl(236, 33%, 92%),
  Dark Grayish Blue: hsl(234, 11%, 52%),
  Very Dark Grayish Blue1: hsl(233, 14%, 35%),
  Very Dark Grayish Blue2: hsl(237, 14%, 26%)
);
$fallback-colors-dark: (
   'Oxford Blue', 'Deep Space Sparkle', Crystal, Cerulean, Charcoal ,RoyalBlue4, 'Prussian Blue'
);

@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}


@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}
.show-error{
  position:relative;
  left:0;
  color:red;

}
.hide-error{
   display:none;
}
.hide{
   display:none;
}
.show{
   display: block;
}

input{
    -ms-transform: scale(1.4); 
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform:scale(1.4);
    border-radius:50%;
    &:checked{
      background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
      cursor: pointer;
    }
    &:checked:after{
       content:'✔';
       
       z-index:99;
       transition: all .2s;
       position:relative;
       right:2px;
       bottom:2px;
       filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(318%) hue-rotate(154deg) brightness(105%) contrast(104%);
    }
     
    
}

.dark{
    body{
      @include bg-color(map-get($dark-colors,Very Dark Grayish Blue2),nth($fallback-colors-dark,7));
       form {
          #form-body{
                #container-enter-task{
                  background-color:map-get($dark-colors, Very Dark Grayish Blue1);
                  div,#enter-task{
                    background-color:map-get($dark-colors, Very Dark Grayish Blue1);
                  }
                  #enter-task,::placeholder{
                    @include font-color(map-get($dark-colors,Light Grayish Blue2),nth($fallback-colors-dark,4));
                  }
                  #enter-task{
                    border:none;
                  }
                }
                #all-tasks{
                  div,input,textarea{
                    background-color:map-get($dark-colors, Very Dark Grayish Blue1);
                    @include font-color(map-get($dark-colors,Light Grayish Blue2),nth($fallback-colors-dark,4));
                  }
                  .task,textarea {
                    border:none;
                  }
                  .bottom-hr{
                    color:white;
                  }
                }
                .items-left{
                    @include font-color(map-get($dark-colors,Light Grayish Blue2),nth($fallback-colors-dark,4));
                }
                ul{
                  border:none;
                }
          }
       }
    }
    .cross{
       filter: brightness(0) saturate(100%) invert(74%) sepia(100%) saturate(3%) hue-rotate(232deg) brightness(107%) contrast(102%);
    }
    button{
        @include font-color(map-get($dark-colors, Light Grayish Blue1),nth($fallback-colors-dark,3));
        &:hover{
           @include font-color(map-get($dark-colors, Light Grayish Blue2),nth($fallback-colors-dark,4));
        }
    }
    header{
        background: url(./images/bg-mobile-dark.jpg) top center/100% 100% no-repeat ;
        @include media-breakpoint-up(xxl){
            background: url(./images/bg-desktop-dark.jpg) top center/100% 100% no-repeat ;
        }
    }
}

.light{
  body{
    @include bg-color(map-get($light-colors,Very Light Gray),nth($fallback-colors-dark,1));
     form {
        #form-body{
              #container-enter-task{
                background-color:lighten(map-get($light-colors, Very Light Grayish Blue),5);
                div,#enter-task{
                  background-color:lighten(map-get($light-colors, Very Light Grayish Blue),5);
                }
                #enter-task,::placeholder{
                  @include font-color(map-get($light-colors,Very Dark Grayish Blue),nth($fallback-colors-dark,5));
                }
                #enter-task{
                  border:none;
                }
              }
              #all-tasks{
                div,input,textarea{
                  background-color:lighten(map-get($light-colors, Very Light Grayish Blue),5);
                  @include font-color(map-get($light-colors,Very Dark Grayish Blue),nth($fallback-colors-dark,5));
                }
                .task,textarea {
                  border:none;
                }
                .bottom-hr{
                  color:white;
                }
              }
              .items-left,ul button{
                  @include font-color(map-get($light-colors,Dark Grayish Blue),nth($fallback-colors-dark,4));
              }
              ul{
                border:none;
              }
        }
     }
  }
    header{
        background: url(./images/bg-mobile-light.jpg) top center/100% 100% no-repeat ;
        @include media-breakpoint-up(xxl){
            background: url(./images/bg-desktop-light.jpg) top center/100% 100% no-repeat ;
        }
      
    }
}
html{
  box-sizing: border-box; 
}
*,
::before,
::after {
  box-sizing: inherit;
}
body{
  
  font: {
    //default 16 px/1rem.
    size: 1rem;
    weight: $font_weight-normal;
    
  }
}
.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}
.decorative-circle{
  width:25px;
  height: 25px;
  border: 2px solid gray;
  border-radius: 50%;
  margin: auto;
}


main{ 
    
      form{
          
          #form-body,#form-header{
            max-width: 85%;
            @include margin(0 auto);
          }
          #form-body{
            position:relative;
            top:-3rem;
          }
          #form-header{
            height: 15rem;
          }
         
      }
    
}


#bottom-footer {
  .attribution {
    font-size: $font_size-8;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}